# Secrets
.env
.env.*
!.env.example

# Gradle
.gradle
build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/

# Eclipse
.settings/
.classpath
.project
.metadata/

# VS Code
.vscode/

# Compiled class file
*.class

# Log files
*.log

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Operating System
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.venv/
venv/
ENV/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Go
bin/
server
.gotmp/
/vendor/
services/notification/server
